body {
	background: linear-gradient(135deg, #e6f9f0, #b2e2d1);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Collapse Sidebar */
.sidebar {
	width: 70px;
	background-color: #34a69f;
	height: 100vh;
	overflow: hidden;
	transition: width 0.3s ease, background-color 0.3s ease;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 15px 10px;
	z-index: 1000; /* Ensure it stays on top */
}

.sidebar:hover {
	width: 220px;
	background-color: #46c1b9;
}

/* Sidebar Links */
.sidebar a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
	padding: 15px 15px;
	width: 100%;
	transition: background 0.2s;
	white-space: nowrap;
}

.sidebar a:hover {
	background: #267d74;
}

.icon {
	font-size: 24px;
	width: 35px;
	text-align: center;
}

/* Label (hidden by default) */
.label {
	opacity: 0;
	margin-left: 15px;
	transition: opacity 0.3s ease;
}

.sidebar:hover .label {
	opacity: 1;
}
/* End of Collapse Sidebar */

/* Main content centered */
.main-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 20px;
	height: 100vh;
	position: relative;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	padding: 40px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	margin-right: 40px;
	margin-left: 50px;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	color: #267d74;
	position: relative;
	top: 20px;
	margin-bottom: 60px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	background-color: #34a69f;
	padding: 15px 25px;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	margin-bottom: 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Section progress bar */
.section-progress {
	width: 90%;
	height: 8vh;
	background-color: #a0d6d6;
	border-radius: 25px;
	overflow: hidden;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
}

.section-progress-fill {
	overflow: hidden;
	flex-grow: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	font-size: 2vh;
	padding: 0 10px;
	text-align: center;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
	word-wrap: break-word;
}

.section-progress-fill:hover {
	box-shadow: 0 0 15px rgba(52, 166, 159, 0.8);
	transform: scale(1.05);
	cursor: pointer;
}


.section-link {
	text-decoration: none;
}


.active-section {
	background-color: #34a69f;
}

form {
	margin-top: 20px;
	max-width: 1000px;
	width: 100%;
	background: #d4f2eb; /* #f9f9f9;*/
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
}

.form-group label {
	font-weight: bold;
	width: 40%;
	margin-right: 20px;
}

.form-group input[type="text"] {
	width: 40%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: all 0.2s;
}

.form-group input[type="text"]::placeholder {
	color: #aaa;
}

.form-group input[type="text"]:focus::placeholder {
	color: transparent;
}

.form-group .radio-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 1;
}

.form-group .radio-group label {
	display: flex;
	align-items: center; /* Align radio buttons and text vertically */
	width: 100%; /* Ensure each label takes up the full width */
}

.form-group .radio-group input[type="radio"] {
	margin-right: 10px; /* Add spacing between the radio button and the text */
}

.next-button {
	margin-top: 20px;
	background-color: #2ba6a6;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	align-self: flex-end;
	float: right;
	text-decoration: none;
	font-size: 18px;
}

.next-button:hover {
	background-color: #154a5f;
	}